<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Psp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.psp.EditProfileActivity" >
        </activity>
        <activity android:name="com.example.psp.ProfileActivity" >
        </activity>
        <activity android:name="com.example.psp.LoginActivity" >
        </activity>
        <activity android:name="com.example.psp.SignUpActivity" >
        </activity>
        <activity android:name="com.example.psp.CourseList">
        </activity>
        <activity android:name="com.example.psp.NewEditCourse">
        </activity>
        <activity android:name="com.example.psp.NewEditLearningEffort">
        </activity>
        <activity android:name="com.example.psp.NewEditProfile">
        </activity>
        <activity android:name="com.example.psp.Welcome">
        </activity>
        <activity android:name="com.example.psp.NewEditLearningUnit">
        </activity>
        <activity android:name="com.example.psp.NewLearningEffortStopwatch">
        </activity>
        <activity android:name="com.example.psp.LearningUnitDetails">
        </activity>

    </application>

</manifest>